{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}
{% block main %}
<div class="media index_media">
    <div class="media-left">
        <a href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="{{url_for('static', filename='images/avatar.jpg')}}" data-holder-rendered="true" style="width: 64px; height: 64px;">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Media heading</h4>
        <p>放到数据库所在地发挥非正式打开两极分化这款手机登录回复空间最喜欢看见了这些边境执行恐惧和这些接口是合作新空间和是科技自行车是空间最喜欢是须召开计划是张子旭空间最喜欢</p>
        <span class="pull-right" style="padding-right:10px;"><b>Shepherd</b> 2018/4/26 12:12:12</span>
    </div>
</div>
{% endblock %}